* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FEFBF1;
}

.header1 {
    position: relative;
    height: 61px;
    top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    position: absolute;
    display: flex;
    align-items: center;
    list-style-type: none;
}

a {
    margin: 15px;
    color: #703412;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
}

.header2 {
    position: relative;
    height: 572px;  
}

.p1 {
    position: absolute;
    width: 160px;
    height: 44px;
    top: 188px;
    left: 72px;
    font-size: 11px;
    text-transform: uppercase;
    color: #703412;
}

.p2 {
    position: absolute;
    width: 848px;
    height: 264px;
    top: 253px;
    left: 72px;
    font-size: 80px;
    color: #703412;
}


main {
    position: relative;
    height: 1941px;
    margin: 0 72px;
    background-color: #FEFBF1;
}

.pp {
    position: absolute;
    width: 571px;
    height: 125px;
    font-size: 32px;
    color: #703412;
    margin-bottom: 250px;
}

.row {
    position: absolute;
    top: 369px;
    display: flex;
    height: 1572px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

img {
    width: 312px;
    height: 310px;
    border-radius: 8px;
}

.img4 {
    width: 312px;
    height: 416px;
}

.p3 {
    width: 220px;
    height: 29px;
    top: 1298px;
    left: 72px;
    font-size: 12px;
    color: #703412;
}

.p4 {
    width: 88px;
    height: 18px;
    top: 1400px;
    left: 72px;
    font-size: 10px;
    text-transform: uppercase;
    color: #703412B8;
}


footer {
    position: relative;
    height: 644px;
    background-color: #084935;
}

.footer1 {
    position: absolute;
    width: 69px;
    height: 18px;
    top: 120px;
    left: 72px;
    font-size: 12px;    
    color: #FFFFFF;
}

.footer2 {
    position: absolute;
    width: 711px;
    height: 39px;
    top: 162px;
    left: 72px;
    font-size: 30px;
    color: #FFFFFF;
}

.footer3 {
    position: absolute;
    width: 494px;
    height: 39px;
    top: 200px;
    left: 72px;
    font-size: 31px;
    color: #FFFFFF;
}

ol {
    position: absolute;
    top: 349px;
    list-style-type: none;
    width: 95px;
    height: 144px;
    width: 95px;
    height: 144px;
    top: 349px;
    left: 72px;
    left: 72px;
}

li {
    font-size: 16px;
    color: #FFFFFFB8;
}

.p5 {
    position: absolute;
    width: 57px;
    height: 48px;
    top: 349px;
    left: 336px;
    font-size: 16px;
    color: #FFFFFFB8;
}

.p6 {
    position: absolute;
    width: 75px;
    height: 48px;
    top: 349px;
    left: 600px;
    font-size: 16px;
    color: #FFFFFFB8;
}

.p7 {
    position: absolute;
    width: 250px;
    height: 48px;
    top: 349px;
    left: 864px;
    font-size: 16px;
    color: #FFFFFFB8;
}

.block {
    position: absolute  ;
    width: 100%;
    height: 1px;
    top: 574px;
    background-color: #FFFFFF29;
}

.p8 {
    position: absolute;
    width: 169px;
    height: 24px;
    top: 594px;
    left: 72px;
    font-size: 16px;
    color: #FFFFFF;
}